@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;500&display=swap');

*{
    margin:0;
    padding:0px;
    border:0px;
    box-sizing: border-box;
    font-family: 'Signika Negative', sans-serif;
    font-weight: lighter;
    font-size: 1.2rem;
}

nav{
    display:flex;
    justify-content:center;
    background-color: grey;
}

nav > .logo{
    display:flex;
    align-items:center;
}

nav > .logo > a{
    text-decoration: none;
    font-size: 1.8em;
    margin-left:2em;
    animation: color-logo 900ms linear alternate infinite;

}

nav > .logo > a >img {
    width:50px;
}

.container{
    display:flex;
    justify-content: center;
    margin-top:1em; 
    height:70vh;
    margin-top:8em;
}

.container > .login{
    max-width: 800px;
}

.container > .login >p{
    text-align: justify;
}

.container > .login > p:nth-child(1){
    text-transform: uppercase;
    font-size:2em;
    font-weight: normal;
    margin: 1em 0 1em 0;
    text-align: center;
}

.container > .login > form{
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.container > .login > form > label{
    display:flex;
    justify-content: center;
    align-items:center;
    margin-top:2em;
}

.container > .login > form > label > .label{
    width:30px;
    margin-right:2.2em;
    text-align: center;
}

.container > .login > form > label > input{
    border:1px solid black;
    border-radius:.5em 0 0 .5em;
    padding-left:1em;
    outline:none;
}

.container > .login > form > label > img{
    height:30.3px;
    width:30.3px;
    padding:4px;
    border:1px solid black;
    border-radius:0 .5em .5em 0;
}
.container > .login > form > label > img:hover{
    cursor:pointer;
}

.container > .login > form > input[type="submit"]{
    width:80px;
    padding:.2em;
    cursor: pointer;
    text-align: center;
    margin:0 auto;
    margin-top:1.5em;
}

.container > .login > .cadastreSe > p{
    text-align: center;
    margin: 1em;
}

.container > .login > .cadastreSe > p > a{
    text-decoration: none;
    color:orangered;
}

.container > .login > .cadastreSe > p > a:hover{
    text-decoration: underline;
    font-weight: 500;
    transition: all .2s;
}

.container > .login > .cadastreSe > p > a:visited{
    color:black;
}

#ERRO{
color:red;
font-weight:400;}

@keyframes color-logo {
    from {
      color: white;
    }
  
    to {
      color: orangered;
    }
  }