@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;500&display=swap');

* {
  box-sizing: border-box;
  padding: 0px;
  border: 0px;
  margin: 0px;
  font-size: 1.05em;
  font-family: 'Signika Negative', sans-serif;
}

.categorias {
  display: flex;
  align-items: center;
  min-width: 280px;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.logo > img:hover{
  cursor:pointer;
}

nav>.logoGrande {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(87, 86, 86);
}

nav>.logoGrande>.logo>a {
  text-decoration: none;
  padding: 10px;
  margin: 20px;
  animation: color-logo 900ms linear alternate infinite;
}

nav > .logoGrande > .login{
  display:flex;
  align-items: center;
  justify-content: center;
}

nav > .logoGrande > .login>p{
  margin:0;
}
nav > .logoGrande > .login>p>a{
  text-decoration:none;
  color:white;
}

nav > .logoGrande > .login>p>a:hover{
  border-bottom: 2px solid orangered;
  transition: all .5s
}

nav > .logoGrande > .login > a> img{
  width:30px;
  margin:.5em;
}

nav>.logoPequeno {
  display: none;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(87, 86, 86);
  height: 60px;
}

nav>.logoPequeno>.logo>a {
  text-decoration: none;
  padding: 10px;
  animation: color-logo 900ms linear alternate infinite;
}

nav>input {
  display: none;
}

nav>input:checked~.menu {
  transform: translateX(0);
}


nav>.logoPequeno>label {
  font-size: 1.5em;
  cursor: pointer;
}

.menu {
  background: black;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  transition: all 0.5s;
  transform: translateX(-1100px);
}

.menu>ul{
  display: flex;
  flex-direction:column;
}

.menu>ul>li:nth-child(1){
  margin-top:20vh;
}

ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

li {
  list-style: none;
  margin: 15px;
  min-width: 30px;
}


li>form>input {
  border: none;
  background-color: transparent;
  padding: 10px;
  color: black;
  font-weight: 500;
  color: white;
}

li>form>input:hover {
  cursor:pointer;
  color:#ff4500;
  transition:all .5s ease; 
}

#carrosel2{
  display:flex;
  justify-content:center;
  margin:30px;
}

.item{
  display:flex;
}

.item > .text{
  margin-left:5px;
  display:flex;
  flex-direction:column;
}

.item > .text > span.text2{
  font-weight:400;
  font-size:.9em;
}

.tituloJogos{
  margin:20px 0 30px 80px;
}

.tituloJogos>span{
  font-size:2.4em;
  text-transform:uppercase;
  border-bottom:2px solid orangered;
}

#jogos {
  background: rgba(153, 206, 219, 0.185);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1800px;
}

.card {
  margin: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.247);
}

.card>.card-body>h5{

  text-align: center;
  border-bottom: 1px solid #ff4500;
  font-size: 1.3em;

}

.list-group-item {
  display: flex;
  align-items: center;
}

.preco {
  color: black;
  font-size: 1em;
  font-weight: 500;
  margin: 0 30px 0 0;
  font-family: 'Mulish', sans-serif;
}

.comprar {
  display: flex;
  justify-content: center
}

div.comprar> a >button {
  border: none;
  padding: 8px;
  color: white;
  font-weight: 500;
  background-color: black;
  border-radius: 10px;
}

div.comprar> a >button:hover {
  background:orangered;
  cursor:pointer;
  transition:all .5s ease; 
}

li.list-group-item {
  display: flex;
  flex-direction: row;
}

.novidades{
  width:94.5%;
  background-color:grey;
  margin:0 auto;
}

.novidades > .row > .col-md-6,.col-sm-12{
  display:flex;
  justify-content:center;
}

.novidades > .row > .col-md-6,.col-sm-12 > form{
  display:flex;
  justify-content:center;
  align-items:center;
}

.novidades > .row > .col-md-6,.col-sm-12 > form > input{
  border-radius:5px 0 0 5px;
  outline:none;
  padding-left:5px;
  line-height:40px;
  margin-bottom:10px;
}

.novidades > .row > .col-md-6,.col-sm-12 > .text{
  display:flex;
  flex-direction:column;
  padding:10px;
  color:white;
}

.novidades > .row > .col-md-6,.col-sm-12 > .text > .text1{
  text-transform:uppercase;
  font-size:1.2em;
}

.novidades > .row > .col-md-6,.col-sm-12 > .text > .text2{
  font-size:0.9em;
}

footer {
  background: rgba(15, 15, 15, 0.842);
  color: white;
  font-weight: 400;
}

footer>.info {
  padding-top: 25px;
  color: darkgrey;
  margin: 0 auto;
  max-width: 500px;
  text-align: justify;
  text-align: center;
}



.info>#Marca {
  font-size: 1.8rem;
  color: white;
  font-weight: 500;
}

.copy {
  background: black;
  height: 40px;
  display: flex;
  align-items: center;
}

.copy>p {
  margin: 4px 0 0 20px;
  width: 100%;
  text-align: center;
}

.copy>p>span {
  color: rgb(61, 61, 61);
  text-align: center;
}




.carousel-item>img {
  height: 790px;
  width: 800px;
  margin-top: 60px;
}

@media only screen and (max-width: 975px) {

  .novidades{
    margin:0 auto;
  }

    .carousel-item > img{
      height:40vh;
    }
  nav>.logoGrande {
    display: none;
  }

  nav>.logoPequeno {
    display: flex;
  }

}

@media only screen and (min-width: 976px) {
  .carousel-item>img {
    margin-top: 90px;
  }

  nav {
    background: white;
  }

  nav>.logoGrande {
    display: flex;
  }

  nav>.logoPequeno {
    display: none;
  }

  nav>.menu {
    display: none;
  }

}

@media (min-width:2500px) {

  .comprar {
    font-size: 25px;
  }

  li {
    font-size: 2em;
  }

  .logo>a {
    font-size: 2em;
  }

  i {
    font-size: 2em;
  }
}


@keyframes color-logo {
  from {
    color: white;
  }

  to {
    color: orangered;
  }
}